<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>Login</title>
            <meta name="description" content="Junior makers program Login">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="/favicon.png">
            <!-- importing needed libraries -->
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            {{--  importing fonts  --}}
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu" rel="stylesheet">

            <!-- main CSS style sheet -->
            <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="contain">
            <div id="background_rounded">
                <a href="/"><img src="/images/logoBig.png" id="background_rounded_image"></a>
            </div>
            <svg class="college-separator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 123" version="1.1" preserveAspectRatio="none">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(0.000000, -148.000000)" fill="#FFFFFF"><path d="M0 271L0 151C346 221.165 792.769 261 1280 261 1767.231 261 2214 218.166 2560 148L2560 271 0 271Z"></path>
                        </g>
                    </g>
            </svg>
            <div id="center_fillingInfosBox">
                <h2  style="z-index:5;">Login to <span>Jonior makers</span></h2>
                <form class="fillingInfosBox" action="/auth/login" method="POST">
                    @if(error)
                <div class="alert alert-danger">{{error}}</div>
                    @endif
                    <p>Fill in your information</p>
                        <div class="form-group">
                                <label for="pwd">Email address :</label>
                                <input type="email" class="form-control" id="email_login" name="email" onkeyup="activateLoginButton()">
                        </div>
                        <div class="form-group">
                                <label for="pwd">Password :</label>
                                <input type="password" class="form-control" id="password_login" name="password" onkeyup="activateLoginButton()">
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe_checkBox" name="rememberMe">
                            <label class="form-check-label" for="rememberMe_checkBox" >Remember me</label>
                        </div>
                        <input type="submit" value="login" class="btn" id="submit-form" disabled>
                        <div id="loginFooter">
                            <p>Don't have an account? <a href="#"> Get Started</a></p>
                        </div>

                    </form>
                
            </div>

        </div>
        <script src="/js/myScript.js"></script>

    </body>
</html>