<!DOCTYPE html>
<html>
  <head>
    <title>postregister</title>
    <meta name="description" content="Junior makers program Login" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.png" />
    <!-- importing needed libraries -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/postregister.css" />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"
    ></script>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"
    ></script>
  </head>

  <body>
    <div id="contain">
      <div id="background_rounded">
        <a href="/"
          ><img src="/images/logoBig.png" id="background_rounded_image"
        /></a>
      </div>
      <svg
        class="college-separator"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2560 123"
        version="1.1"
        preserveAspectRatio="none"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(0.000000, -148.000000)" fill="#FFFFFF">
            <path
              d="M0 271L0 151C346 221.165 792.769 261 1280 261 1767.231 261 2214 218.166 2560 148L2560 271 0 271Z"
            ></path>
          </g>
        </g>
      </svg>
      <div id="center_fillingInfosBox"></div>

      <div class="screen un">
        <div class="border-top"></div>
        <svg width="166" height="150" id="topIcon">
          <g id="Shot" fill="none" fill-rule="evenodd">
            <g id="shot2" transform="translate(-135 -157)">
              <g id="success-card" transform="translate(48 120)">
                <g id="Top-Icon" transform="translate(99.9 47.7)">
                  <g id="Bubbles" fill="#EB5757">
                    <g id="bottom-bubbles" transform="translate(0 76)">
                      <ellipse
                        id="Oval-Copy-3"
                        cx="12.8571429"
                        cy="13.2605405"
                        rx="12.8571429"
                        ry="12.8432432"
                      />
                      <ellipse
                        id="Oval-Copy-4"
                        cx="25.0714286"
                        cy="34.4518919"
                        rx="8.35714286"
                        ry="8.34810811"
                      />
                      <ellipse
                        id="Oval-Copy-6"
                        cx="42.4285714"
                        cy="31.2410811"
                        rx="7.71428571"
                        ry="7.70594595"
                      />
                    </g>
                    <g id="top-bubbles" transform="translate(92)">
                      <ellipse
                        id="Oval"
                        cx="13.4285714"
                        cy="23.76"
                        rx="12.8571429"
                        ry="12.8432432"
                      />
                      <ellipse
                        id="Oval-Copy"
                        cx="37.8571429"
                        cy="25.0443243"
                        rx="5.14285714"
                        ry="5.1372973"
                      />
                      <ellipse
                        id="Oval-Copy-2"
                        cx="30.1428571"
                        cy="7.70594595"
                        rx="7.71428571"
                        ry="7.70594595"
                      />
                    </g>
                  </g>
                  <g id="Circle" transform="translate(18.9 11.7)">
                    <ellipse
                      id="blue-color"
                      cx="56.341267"
                      cy="54.0791109"
                      fill="#EB5757"
                      rx="51.2193336"
                      ry="51.5039151"
                    />

                    
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>

        <h1>Thank You for your registration !</h1>
        <i class="fas fa-times" id="chek"></i>
        <p>
          your subscribing is received and we <br />
          contact you soon
        </p>

        <a href="/home">  <button id="btnClick">BACK TO HOME</button> </a>
      </div>
    </div>

    <script type="text/javascript" src="/js/postregisterpage.js"></script>
  </body>
</html>
