<!doctype html>
<html lang="en">
    <head>
            <meta charset="utf-8">
            <title>register</title>
            <meta name="description" content="Junior makers program Login">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" href="/favicon.png">
            <!-- importing needed libraries -->
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            {{--  importing fonts  --}}
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu" rel="stylesheet">
            <!-- main CSS style sheet -->
            <link rel="stylesheet" href="/css/main.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="contain">
            <div id="background_rounded">
                <a href="/"><img src="/images/logoBig.png" id="background_rounded_image"></a>
                
            </div>
            <svg class="college-separator" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2560 123" version="1.1" preserveAspectRatio="none">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(0.000000, -148.000000)" fill="#FFFFFF"><path d="M0 271L0 151C346 221.165 792.769 261 1280 261 1767.231 261 2214 218.166 2560 148L2560 271 0 271Z"></path>
                        </g>
                    </g>
            </svg>
            <div id="center_fillingInfosBox">
                <h2  style="z-index:5;">Register into <span>Jonior makers</span></h2>
                <form class="fillingInfosBox" id="register-form" method="POST" action="/auth/register">
                    @each(err in errors)
                    <div class="alert alert-danger" style="margin-bottom: 0">{{err.msg}}</div>
                    @endeach
                    
                        <p>Fill in your information</p>
                       
                                <div class="row">
                                        <div class="col-md-6 form_register_modify">
                                        
                                            <div class="form-group">
                                                <label for="firstName">First name:*</label>
                                                <input type="text" class="form-control" name="firstName" required>
                                            </div>
                                        </div>
                                   
                                        <div class="col-md-6 form_register_modify">
                                       
                                            <div class="form-group">
                                                <label for="lastName">Last name:*</label>
                                                <input type="text" class="form-control" name="lastName" required>
                                            </div>
                                        </div>
                                    </div>
                                          
                           
                            
                            
                                
                    <div class="form-group">
                        <label for="userName">Username:*</label>
                        <input type="text" class="form-control" name="userName" required>
                       
                    </div>
                    <div class="form-group">
                        <label for="email">Email adress:*</label>
                        <input type="email" class="form-control" name="email" required>
                       
                    </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" name="phoneNumber" minlength="10" maxlength="10">
                   
               </div>
                        <div class="form-group">
                                <label for="password">Password: *</label>
                                <input type="password" class="form-control" name="password" required minlength="8">
                        </div>

                        <div class="form-group">
                            <label for="password_conf">Confirm Password:*</label>
                            <input type="password" class="form-control" name="password_conf" required minlength="8">
                    </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="rememberMe_checkBo" name="terms" required>
                            I agree to the <a href="#">terms and conditions</a> 
                        </div>
                        <input type="submit" value="register" class="btn" id="submit-form">
                        <div id="loginFooter">
                            <p>Have an account? <a href="/auth/login"> Login</a></p>
                        </div>
                </form>
            </div>
        </div>
    </body>
</html>