@layout('layouts.dashboard')

@section('content')
  <table class="display" id="unapproved-users">
        <thead>
            <tr>
                <th>email</th>
                <th>first name</th>
                <th>last name</th>
                <th>username</th>
                <th>phone</th>
                <th>score</th>
                <th>tools</th>
            </tr>
        </thead>
    </table>
@endsection