<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <meta name="description" content="Junior makers program website">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="/favicon.png">

   <!-- importing needed libraries -->
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
   <link href="/css/mdb.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    {{--  importing fonts  --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Ubuntu" rel="stylesheet">

    <!-- main CSS style sheet -->
    <link rel="stylesheet" href="/css/course.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="s-layout">
        <!-- Sidebar -->
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#">
             <i class="fa fa-bars"></i>
          </a>
        
          <nav class="s-sidebar__nav">
            <a href="/" id="back-course">
                <i class="fas fa-play"></i><span>Home</span>
            </a>
            <ul>
                @each(chapter in chaptersList)
                <li class="lecture-nav"><span>{{chapter.title}}</span><i class="fas fa-play"></i></li>
                <li>
                    <ul class="lesson-navContainer">
                        @each(lect in chapter.lectures)
                        <li class="lesson-nav">
                            @if(lect.id > newProgress.lastLecture + 1)
                            <div class="disabledLesson">
                            @endif
                            <a href="/courses/classroom/{{courseId}}/{{lect.id}}">
                                @if(lect.id <= newProgress.lastLecture)
                                <i class="fas fa-check"></i>
                                @else
                                <i class="fas fa-circle"></i>
                                @endif
                                <span class="lesson-in">{{lect.title}}</span>
                            </a>
                            @if(lect.id > newProgress.lastLecture + 1)
                            </div>
                            @endif
                        </li>
                        @endeach
                    </ul>
                </li>
                @endeach
            </ul>
          </nav>
        </div>
        
        <!-- Content -->
        <main class="s-layout__content">
            <nav id="navbar">
                <div id="container">
                        <h1>{{content.title}}</h1>
                        <a href="#" data-toggle="modal" data-target="#myModal"><h5>SEND FEEDBACK</h5></a>
                </div>
            </nav> 




            <section id="main-content">
                
                @if(content.type == "video")
                <div id="course-content-video">
                    <iframe
                    src="{{content.link.replace(/(?:http:\/\/)?(?:www\.)?(?:youtube\.com|youtu\.be)\/(?:watch\?v=)?(.+)/g, 'www.youtube.com/embed/$1');}}">
                    </iframe>
                </div>
                @else
                 <div id="course-content-pdf">
                    <object data="{{content.link}}" type="application/pdf">
                        <embed src="https://docs.google.com/viewer?url={{content.link}}&embedded=true"/>
                    </object>
                </div>
                @endif
                @if(content.id == lastLecture.id)
                <button type="button" class="btn vp" style="width: auto"
                onclick="window.open('/courses/classroom/{{courseId}}/certificat','_blank')">Get certificat</button>
                @else
                <button type="button" class="btn vp" style="padding: 0"
                onclick="window.location.href ='/courses/classroom/{{courseId}}/{{content.id+1}}'">NEXT</button>
                @endif
                <div id="course-discription">
                    <h3>Description:</h3>
                    <p>{{content.description}}</p>
                </div>
            </section>
            @if(messages.reportAdded)
                {{--  <div class="alert alert-success">{{messages.reportAdded[0]}}</div>  --}}
                <div class="modal fade show confirm-popup" tabindex="-1" role="dialog" aria-labelledby="confirm-popup" aria-hidden="true" style="display: block;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;margin-right: 20px;margin-top: 10px;">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="modal-body">
                              <center>
                                  <h2>Done</h2>
                                  <p>{{messages.reportAdded[0]}}</p>
                                  <br>
                                  <br>
                              </center>
                          </div>
                      </div>
                  </div>
                </div>
      @elseif(messages.reportNotAdded)
                {{--  <div class="alert alert-warning">{{messages.reportNotAdded[0]}}</div>  --}}
                <div class="modal fade show confirm-popup" tabindex="-1" role="dialog" aria-labelledby="confirm-popup" aria-hidden="true" style="display: block;">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:right;margin-right: 20px;margin-top: 10px;">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="modal-body">
                              <center>
                                  <h2 style="color:#fa8072;">Error</h2>
                                  <p>{{messages.reportNotAdded[0]}}</p>
                                  <br>
                                  <br>
                              </center>
                          </div>
                      </div>
                  </div>
                </div>
      @endif
        </main>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" >
            
              <div class="modal-content" style="border-radius:10px">
                <div class="modal-header" id="report-header">
                  
                  <h4 class="modal-title" >Send a report </h4>
                  <button type="button" class="close" data-dismiss="modal" >&times;</button>
                </div>
                
                <div class="modal-body">
                  
            <form  action="/report/add/{{courseId}}/Course" method="POST" id="report_form">  
            <h1> What is the reason of the report  </h1>  
            <div id="radio_bottom">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="Option1" name="type" value="DMCA claim">
                    <label class="custom-control-label" for="Option1">DMCA claim</label>
                  </div>
                  
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="Option2" name="type" value="Outdated/wrong content">
                    <label class="custom-control-label" for="Option2">Outdated/wrong content</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="Option3" name="type" value="Dead links">
                    <label class="custom-control-label" for="Option3">Dead links</label>
                </div>
                <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="Option4" name="type" value="Others">
                        <label class="custom-control-label" for="Option4">Others</label>
                </div>
            </div>
          <h1 style="margin-top: 26px;"> Can you provide us with some details </h1>
          <div class="md-form">
            <textarea id="txtarea" class="md-textarea form-control" rows="2" name="reportDetails"></textarea>
            <label for="txtarea">State the timing and the exact reason...</label>
          </div>
           <div style="padding-right: 26px;" >
                  <button type="submit" class="btn btn-success saveboutton pull-right" style="margin-left: 10px;  margin-bottom:15px;">Send</button>
                  <button type="button" class="btn btn-outline-success waves-effect resetboutton pull-right" data-dismiss="modal">cancel</button>
                </div>
          </form>
          
                </div>
              </div>
              
              
            </div>

            </div>

    
    <!-- needed scripts -->
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- main scripts file -->
    <script src="/js/main.js"></script>
    

    <!-- Google Analytics
    UA-XXXXX-Y to be replaced with our site's ID. -->
    <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script src="/js/Heart animation.js"></script>
    <script src="/js/mdb.min.js"></script>

</body>

</html>
