<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.png">

   <!-- importing needed libraries -->
   <link rel="stylesheet" href="/css/normalize.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    {{--  importing fonts  --}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu" rel="stylesheet">

    <!-- main CSS style sheet -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <div class="s-layout">
        <!-- Sidebar -->
        <div class="s-layout__sidebar">
          <a class="s-sidebar__trigger" href="#">
             <i class="fa fa-bars"></i>
          </a>
        
          <nav class="s-sidebar__nav">
            <a href="/">
                <img src="/favicon.png" class="s-sidebar-logo">
            </a>
            <ul>
                <li>
                    <a class="s-sidebar__nav-link" href="./home">
                        <i class="fa fa-home"></i><em>Home</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="./settings">
                        <i class="fa fa-gear"></i><em>Settings</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="./users">
                        <i class="fa fa-desktop"></i><em>Users</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="./categories">
                        <i class="fa fa-calendar"></i><em>Categories</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="./courses">
                        <i class="fa fa-calendar"></i><em>Courses</em>
                    </a>
                </li>
            </ul>
          </nav>
        </div>
        
        <!-- Content -->
        <main class="s-layout__content">
            <nav id="navbar">
                <div id="container">
                    <h1>{{pageName}}</h1>
                    <div id="tocenter">
                        <div id="search">     
                                <input type="search" placeholder="What would you like to learn" />
                                <i class="fas fa-search"></i>
                        </div>
                        <span class="icon-Message_notification"></span>
                        <span class="icon-bell"></span>
                        <img src="/images/avatar.jpg" id="profile-pic-nav">    
                    </div>
                </div>
            </nav> 
            <section id="main-content">
                @!section('content') 
            </section>
             
        </main>
    </div>
    
    <!-- needed scripts -->
    <script src="/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- main scripts file -->
    <script src="/js/main.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>
