<html>
    <head>
            <meta charset="utf-8">
            <title>Home</title>
            <meta name="description" content="Junior makers program website">
            <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
        
            <link rel="manifest" href="/manifest.webmanifest">
            <link rel="icon" href="/favicon.png">
        
           <!-- importing needed libraries -->
           <link rel="stylesheet" href="/css/normalize.css">
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
           <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
           <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            {{--  importing fonts  --}}
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu" rel="stylesheet">
        
            <!-- main CSS style sheet -->
            <link rel="stylesheet" href="/css/main.css">

            <style>
                body{text-align: center;font-size: 25px;padding: 40px}
                a{
                    display: block;
                    color: blue;
                    text-align: center;
                    font-size: 20px;
                    margin-top: 10px;
                }
                i{color: black;font-size: 16px;}
            </style>
    </head>
    <body>

            <h2>all routes :</h2>
            <a target="_blank" href="/auth/login">login</a>
            <a target="_blank" href="/auth/register">register</a>
            <a target="_blank" href="/auth/postregister">after register</a>
            <a target="_blank" href="/profile/user/1">student profile<i>(you need to create a user first)</i></a>
            <a target="_blank" href="/profile/coach/1">coach profile<i>(you need to create a user first)</i></a>
            <a target="_blank" href="/admin/categories">admin categories</a>
            <a target="_blank" href="/user/editprofile">edit profile<i>(you need to login first)</i></a>
            <a target="_blank" href="/courses/add">add course</a>
            <a target="_blank" href="/events/add">add event</a>
            <a target="_blank" href="/user/wishlist">user wishlist</a>

            <div class="event_card" style="display: none" >
                <img src="/events/Arduino.png" alt="Familiarize with Arduino">
                <div>
                        <h3>Familiarize with Arduino</h3>
                        <div style="display: table;    margin-top: 9px;">
                            <time>Mars <span>5</span></time>
                            <div style="display: table-cell;">
                                <p class="eventCard_place">Higher School of computer science Sidi Bel Abbes</p>
                                <p class="eventCard_placesLeft">53 places left</p>
                            </div>
                        </div>
                        <hr>
                        <h6>Details</h6>
                        <p class="eventCard_details">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore 
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</p>
                </div>
               
            </div> 
 
    </body>
</html>