<html>
    <head>
            <meta charset="utf-8">
            <title>Junior Makers Programe</title>
            <meta name="description" content="Network of scientific clubs specialized in the field of Electronics, Robotics, Programming and Computer Science dedicated to the next generation">
            <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
            <meta property="og:description" content="Network of scientific clubs specialized in the field of Electronics, Robotics, Programming and Computer Science dedicated to the next generation" />
            <meta name="twitter:description" content="Network of scientific clubs specialized in the field of Electronics, Robotics, Programming and Computer Science dedicated to the next generation" />

            <link rel="manifest" href="/site.webmanifest">
            <link rel="icon" href="/favicon.png">
        
           <!-- importing needed libraries -->
           <link rel="stylesheet" href="/css/normalize.css">
           <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
           <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
           <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            {{--  importing fonts  --}}
            <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Ubuntu" rel="stylesheet">
            <!-- main CSS style sheet -->
            <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <picture>
                    <source media="(max-width: 768px)" srcset="/img/background-md.svg">
                    <img id="bg_home"src="/img/background.png" alt="background">
        </picture>
        <nav class="navbar navbar-expand-md navbar-light" id="nav-home">
            <div class="container">
                <a class="navbar-brand" href="/"><h1>Junior Makers</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#about_us">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact_us">Contact us</a>
                        </li>  
                        <li class="nav-item">
                                <a class="nav-link" href="/auth/login">Sign in</a>
                        </li> 
                        <li class="nav-item btn-rounded-important signup">
                                <a class="nav-link" href="/auth/register">Sign up</a>
                        </li>            
                    </ul>
                </div>
            </div>
        </nav>
        <section id="main-section">
            <div class="container">
                    <h2>
                        Creating the engineers of the future 
                    </h2>
                    <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                    </p>
                    <a href="/auth/register">
                        <button class="btn btn-rounded-important">Get started</button>
                    </a>
            </div>
        </section>
        <section id="about_us">
            <section id="be-able">
                <img src="/img/landing_page/c1.svg" id="c1" alt="component">
                <img src="/img/landing_page/c2.svg" id="c2" alt="component">
                <img src="/img/landing_page/c3.svg" id="c3" alt="component">
                <p>You will be able to learn all about </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card" style="width: 22rem; margin-left:auto;margin-right: 3vw;padding:30px;">
                            <img src="/img/robotics.png" class="card-img-top" loading="lazy" alt="Robotics">
                            <div class="card-body">
                                <h5 class="card-title">Robotics</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                                <br>
                                <a href="/auth/register">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="width: 22rem; margin-right:auto;margin-left:3vw;padding:30px;">
                            <img src="/img/programming.png" class="card-img-top" loading="lazy" alt="Programming">
                            <div class="card-body">
                                <h5 class="card-title">Programming</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                                <br>
                                <a href="/auth/register">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="with-jmp">
                {{--  <img id="bg3_home"src="/img/background3.png">  --}}
                <p>With JMP, You’ll get access to </p>
                <div class="row" id="online-tutorials">
                    <img src="/img/landing_page/c4.svg" id="c4" alt="component">
                    <div class="col-lg-6">
                        <img src="/img/computer_home.png" loading="lazy" alt="watching course">
                    </div>
                    <div class="col-lg-6">
                        <div id="online-tutorials-details">
                            <h2>Online tutorials</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim </p>
                            <a href="/auth/register">
                                    <button class="btn btn-rounded-important">Get started</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row" id="quality-teacher">  
                    <img src="/img/landing_page/c6.svg" id="c6">
                    <div class="col-md-5 order-md-last" id="quality-teacher2">
                        <img src="/img/quality-teacher2.png" loading="lazy" alt="teacher">
                    </div>

                    <div class="col-md-7 order-md-first">
                        <div class="row">
                            <div class="col-md-4"><img  src="/img/quality-teacher1.png"  loading="lazy" alt="oval" id="oval_pic"></div>
                            <div class="col-md-8">
                                <h2>Quality teachers</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                                <a href="/auth/register">
                                        <button class="btn btn-rounded-important">Get started</button>
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                <div  id="events-workshops">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="/img/events_workshops.png" loading="lazy" alt="workshop">
                        </div>
                        <div class="col-lg-6">
                            <div id="events-workshops-details">
                                <h2>Online tutorials</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                                ut labore et dolore magna aliqua. Ut enim ad minim </p>
                                <a href="/auth/register">
                                        <button class="btn btn-rounded-important">Get started</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <footer>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h3>JuniorMakers</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Doloribus tempore obcaecati ab                                
                        </p>
                        <br>
                        <button type="button" class="btn btn-warning btn-rounded-important donate">DONATE</button>
                    </div>
                    <div class="col-md-2">
                        <h6>Content</h6>
                        <ul>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Teachers</a></li>
                            <li><a href="#">Events</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h6>Legal</h6>
                            <ul>
                                <li><a href="#">Terms & conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Cookies policy</a></li>
                                <li><a href="#">Copyrights Notification</a></li>
                            </ul>
                        </div>
                    <div class="col-md-3">
                        <h6 id="contact_us">Contact us</h6>
                        <ul>
                                <li>Some place in an other place 245 next to a place</li>
                                <li>jmprogram@gmail.com</li>
                                <li>+213 485 65 66</li>                      
                                <li><button type="button" class="btn btn-warning btn-rounded-important donate">DONATE</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/client.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script src="/js/epayement.js"></script>
    <script>
    </script>
</html>