body {
    font-family: 'Open Sans',sans-serif; 
    width: 100vw;
  }
  html, body{
    max-width: 100%;
    overflow-x: hidden;
  }
  #main-content {
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  em {
    font-style: normal;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
  }
  
  .s-layout__content {
    flex: 1;
  }
  
  /* Sidebar */
  .s-sidebar__trigger {
    z-index: 2;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: white;
  }
  
  .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 0.5em;
    color: #d1d1d1;
    position: fixed;
    z-index: 1000;
  }
  
  .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all 0.3s ease-in;
    width: 15em;
    height: 100%;
    background: #151515;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    z-index: 99999999999999999;
    overflow: auto;
  }
  
  .s-sidebar__nav:hover,
  .s-sidebar__nav:focus,
  .s-sidebar__trigger:focus + .s-sidebar__nav,
  .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
  }
  .s-sidebar__nav ul li {
    width: 100%;
  }

  #back-course{
      height: 55px;
      width: 100%;
      display: block;
      font-size: 21px;
      display:flex;
      align-items:center;
      border-bottom: 1px solid #3C3C3C;
  }
  #back-course:hover{
      color: white;
      text-decoration: none;
  }
  #back-course:hover > i {
       color: #fff; 
  }
  #back-course i{
    transform: rotate(180deg);
    margin-left: 15px;
    color: #FFD32A;
  }
  #back-course span{
    margin-left: 20px;
    font-weight: 600;
  }

  .lecture-nav{
    height: 55px;
    width: 100%;
    display:flex;
    align-items:center;
    font-size: 16px;
    border-bottom: 1px solid #3C3C3C;
  }
  .lecture-nav span{
      margin-left:15px;
      
  }
  .lecture-nav i{
    transform: rotate(270deg);
    position: absolute;
    right: 12px;
    color: #B9B6A7;
    transition: 0.5s;
    font-size: 12px;

  }
  .rotate90{
    transform: rotate(90deg)!important;
    transition: 0.3s;
    margin-top:5px;
  }
  .lesson-navContainer{
      background: #141313;
  }
  .lesson-nav{
    height: 55px;
    width: 100%; 
    display:flex;
    align-items:center;
  }
  .lesson-nav .fa-circle{
      color: #F2F2F2;
      margin-left: 15px;
  }
  .lesson-nav .fa-check{
    color: #1C9F5F;
    margin-left: 15px;
  }
  .lesson-nav span{
    font-size: 16px;
    margin-left: 10px; 
  }
  .lesson-in{
      font-weight: bold;
  }
  /* Mobile First */
  @media (min-width: 42em) {

  
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
    }
  }
  
  @media (min-width: 68em) {
    .s-sidebar__nav {
      width: 4em;
      left: 0;
    }
    .s-layout__content {
      margin-left: 225px;
    }
    .s-sidebar__trigger {
      display: none;
    }
    /* Sidebar */
    .s-sidebar__trigger {
      display: none;
    }
  
    .s-sidebar__nav {
      width: 15em;
    }
  }
  
  /* --- Navbar --- */
  #navbar {
    width: 100%;
    height: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     position: sticky;
    position: -webkit-sticky;
    padding-top: 15px;
    top: 0;
    z-index: 999;
    background: #3C3C3C;
    text-align: center;
  }
  #container{
      position: relative;
  }
  #navbar h1 {
    font-weight: bold;
    font-size: 22px;
    display: inline;
    margin: 0 auto;
    color: #F9F9F9; 
  }
  #navbar h5 {
    position: absolute;
    right: 18px;
    top: 5px;
    color: #FFD32A;
    font-size: 16px;
  }
  
  @media (max-width: 672px) {
    #main-content {
      margin-left: -22px;
    }
  }
  

  /* ---- main content ---- */
  #course-content-video{
      border-bottom:17px solid #3C3C3C;
      border-left:17px solid #3C3C3C;
      border-right:17px solid #3C3C3C;
      width: 100%;
      height: 480px;
  }
  #course-content-pdf{
    border-bottom:17px solid #3C3C3C;
      border-left:17px solid #3C3C3C;
      border-right:17px solid #3C3C3C;
      width: 100%;
      height: 570px;
  }
  iframe{
      width: 100%;
      height: 100%;
  }
  
  .btn{
    background: #FFD32A;
    border: 1px solid #FFD32A;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 19px;
    width: 105px;
    height: 40px;
    position: absolute;
    right: 35px;
    margin-top: 23px;
  }
  #course-discription{
      padding: 15px;
      margin: 23px 0 0 35px;
      width: 55vw;

  }
  #course-discription h3{
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 7px;
  }
  #course-discription p{
    font-size: 17px;
  }
  /* pdf viewer course content */
#course-content-pdf embed,object{
  width: 100%;
  height: 100%;
}