html,body {
    max-width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

html,body {
    max-width: 100%;
    overflow-x: hidden;

}
.btn-rounded-important {
    -webkit-border-radius: 10em!important;
    border-radius: 10em!important;
}
#bg_home{
    position: absolute;
    top: 0;
    right: 0;
}
#nav-home{
    padding-top: 25px;
}
#nav-home .navbar-brand{
    font-weight: 600;
}
#nav-home .navbar-nav{
    margin-left: auto;
}
#nav-home .navbar-nav li{
    font-size:17px;
}
#nav-home .nav-item{
    margin-right: 17px; 
}
#nav-home .nav-link{
    color: #030403;
}
#nav-home .signup{
    margin-left: 10px;
    background: black;
    border-radius: 30px;
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-home .signup a{
    font-size:15px;
    color: #fff;
}
#main-section{
    position: relative;
    height: 500px;
}
#main-section h2{
    width: 600px;
    font-size: 60px;
    margin-top: 100px;
}
#main-section p{
    margin-top: 20px;
    width: 500px;
    font-size: 17px;
}
#main-section button{
    margin-top: 20px;
    margin-left:-5px;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    background:  #FFD32A;
}
#about_us{
    position: relative;
    overflow: hidden;
}
#bg2_home{
    position: absolute;
    top: 0;
    right: 0;
}
#about_us > p{
    text-align: center; 
    position: relative;
    margin-top: 100px;
    font-weight:600;
}
#about_us .card{
    border: none;
    margin-top:50px;
    margin-bottom: 50px;
}
#about_us .card a{
    margin-top: 7px;
    display: block;
    color: #FFD32A;
    font-weight: 600;
}
#about_us .card .card-title{
    font-size: 33px;
}
#with-jmp{
    position: relative;
    overflow: hidden;
}
#bg3_home{
    position: absolute;
    top: 0;
    right: 0;
}
#with-jmp > p:first-of-type{
    text-align: center; 
    position: relative;
    margin-top: 100px;
    font-weight:600;
}
#online-tutorials{
    height: 550px;
}

#online-tutorials #online-tutorials-details{
    width: 400px;
    margin-top: 120px;
}
#online-tutorials h2{
    font-size: 40px;
}
#online-tutorials p{
    font-size: 16px;
    margin-top: 20px;
}
#with-jmp button {
    margin-top: 20px;
    margin-left:-5px;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    background: #FFD32A;
}
#quality-teacher{
    position: relative;
    overflow: hidden;
    display: table;
    width: 550px;
    margin-left: 40px;
}
#quality-teacher img{
    display: table-cell;
}
#quality-teacher div{
    display: table-cell;
    vertical-align: top;
    padding-top: 15px;
}
#quality-teacher h2{
    font-size: 40px;
}
#quality-teacher2{
    position: relative;
    margin-left: auto;
    display: block;
}
#events-workshops #events-workshops-details{
    width: 400px;
    margin-top: 120px;
}
#events-workshops h2{
    font-size: 40px;
}
#events-workshops p{
    font-size: 16px;
    margin-top: 20px;
}
footer{
    padding-top: 33px;
    overflow: hidden;
    margin-bottom: 33px;
}
footer h3{
    font-weight: 600;
    font-size: 19px;
}
footer p{
    margin-top: 7px;
    font-size: 16px;
}
footer h6{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
footer li{
    font-size: 15px;
    padding: 5px 0;
}
footer li a{
    text-decoration: none;
    color: #030403;
}
footer li a:hover{
    text-decoration: none;
}