html,body {
    max-width: 100%;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}

html,body {
    max-width: 100%;
    overflow-x: hidden;

}
.btn-rounded-important {
    -webkit-border-radius: 10em!important;
    border-radius: 10em!important;
}
#bg_home{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}
#nav-home{
    padding-top: 25px;
}
#nav-home .navbar-brand{
    font-weight: 600;
}
#nav-home .navbar-nav{
    margin-left: auto;
}
#nav-home .navbar-nav li{
    font-size:17px;
}
#nav-home .nav-item{
    margin-right: 17px; 
}
#nav-home .nav-link{
    color: #030403;
}
#nav-home .signup{
    margin-left: 10px;
    background: black;
    border-radius: 30px;
    width: 100px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-home .signup a{
    font-size:15px;
    color: #fff;
}
#main-section{
    position: relative;
    height: 500px;
}
#main-section h2{
    width: 600px;
    font-size: 60px;
    margin-top: 100px;
}
#main-section p{
    margin-top: 20px;
    width: 500px;
    font-size: 17px;
}
#main-section button{
    margin-top: 30px;
    margin-left:-5px;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    background:  #FFD32A;
}
#be-able{
    position: relative;
    height: 100vh;
}
#bg2_home{
    position: absolute;
    top: 0;
    right: 0;
}
#about_us{
    /* background-image: url(/img/background2-total.svg); */
    background-repeat-y: no-repeat;
    height: 2770px;
    margin-top: 100px;
}
#c1,#c2,#c3,#c4,#c5,#c6{
    position: absolute;
}
#c2{
    top:30px;
    left: 77px;
}
#c3{
    bottom:-130px;
    right: 0;

}
#be-able > p{
    text-align: center; 
    position: relative;
    /* margin-top: 100px; */
    font-weight:600;
    font-size: 20px;
}
#be-able .card{
    border: none;
    margin-top:50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 20px rgba(255, 211, 42, 0.21);
}
#be-able .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.17), 0 10px 10px rgba(0, 0, 0, 0.2);
}
#be-able .card .card-img-top{
    height: 230px;
}
#be-able .card a{
    margin-top: 7px;
    display: block;
    color: #FFD32A;
    font-weight: 600;
}
#be-able .card .card-title{
    font-size: 33px;
}
#with-jmp{
    position: relative;
    padding-top: 0;
    height: auto;
    overflow: hidden;
}
#bg3_home{
    position: absolute;
    top: 0;
    right: 0;
}
#with-jmp > p:first-of-type{
    text-align: center; 
    position: relative;
    margin-top: 100px;
    font-weight:600;
    font-size: 20px;
}
#online-tutorials{
    height: 550px;
    padding-left: 40px;
}
#c4{
    top: 0;
    right: 0;
}

#online-tutorials div img{
    margin-left: 20px;
}

#online-tutorials #online-tutorials-details{
    width: 400px;
    margin-top: 120px;
}
#online-tutorials h2{
    font-size: 40px;
}
#online-tutorials p{
    font-size: 16px;
    margin-top: 20px;
}
#with-jmp button {
    margin-top: 20px;
    margin-left:-5px;
    color: #000;
    font-weight: 600;
    padding: 10px 20px;
    background: #FFD32A;
}
#quality-teacher{
    position: relative;
    margin-top: 128px;
    height: 100vh;
}
#c6{
    top: -125px;
}

#quality-teacher2 img{
    width: 95%;
    display: block;    
}
#oval_pic{
    width: 110px;
    height: 150px;
    margin-left:auto;
    display: block;
    margin-top: 60px
}

#quality-teacher div{
    vertical-align: top;
    padding-top: 15px;
}
#quality-teacher h2{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}
#quality-teacher p{
    max-width: 350px;
}
#events-workshops{
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding-top: 70px;
}

#events-workshops #events-workshops-details{
    width: 400px;
    margin-top: 100px;
    margin-left: 50px;
}
#events-workshops .row {
    margin-left: 144px;
    width: calc(100% - 144px);
}
#events-workshops div img{
    /* margin-left: 110px; */
}
#events-workshops h2{
    font-size: 40px;
}
#events-workshops p{
    font-size: 16px;
    margin-top: 20px;
}
hr{
    display: none;
}
footer{
    padding-top: 33px;
    overflow: hidden;
    margin-bottom: 33px;
}
footer h3{
    font-weight: 600;
    font-size: 19px;
}
footer p{
    margin-top: 7px;
    font-size: 16px;
}
footer h6{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}
footer li{
    font-size: 15px;
    padding: 5px 0;
}
footer li a{
    text-decoration: none;
    color: #030403;
}
footer li a:hover{
    text-decoration: none;
}

@media (max-width:992px){
    #c2{
        display: none;
    }
    #online-tutorials{
        padding:0;
    }
    #online-tutorials div img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100vw;
    }
    #online-tutorials #online-tutorials-details{
        display: block;
        margin:0 auto;
        margin-top: 20px!important;
    }
    #online-tutorials #online-tutorials-details p,#online-tutorials h2,#online-tutorials a{
        text-align: center;
        display: block;
        padding: 0 5px;
        max-width: 350px;
    }    
    #quality-teacher h2 {
        margin-top: 20px;
    }
    #events-workshops{
        margin-left: 0;
    }
    #events-workshops img{
        width: 80%;
        padding: 0 12vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 100px;

    }
    #events-workshops #events-workshops-details{
        margin-left: 0;
        margin: 20px auto;
        width: auto;
    }
    #events-workshops p{
        margin: 0 auto;
    }
    #events-workshops h2,#events-workshops p,#events-workshops a{
        text-align: center;
        display:block;
    }
    hr{
        display: block;
        color: black;
    }
    #c6{
        display: none;
    }
    #events-workshops{
        padding: 0;
    }
    #events-workshops .row{
        width: 100%;
        margin-left: 0;
    }
    #events-workshops p{
        margin-top: 20px;
        max-width: 350px;
    }
}

@media (max-width:768px){
    #main-section {
        height: 400px;
    }
    #main-section h2{
        font-weight: 600;
        font-size: 8vw;
        width: auto;
        text-align: center;
        margin-top: 220px;
    }
    #main-section p{
        width: auto;
        text-align: center;
    }
    #main-section a{
        display: block;
        text-align: center;
    }
    #about_us {
        height: auto;
        background-image: url(/img/background2-total-md.svg);
    }

    #be-able{
        height:1250px; 
    }
    #be-able p{
        font-size: 19px;
    }
    #be-able .card{
        margin-left: auto!important;
        margin-right: auto!important;
    }
    #quality-teacher {
        height: auto;
    }
    #quality-teacher2 img{
        width: 95%;
        padding: 0 12vw;
    }
    #oval_pic{
        display: none; 
    } 
    #quality-teacher div{
        margin: 0 auto;
        height: fit-content;
    }
    #quality-teacher p{
        margin: 0 auto;
    }
    #quality-teacher h2,#quality-teacher p,#quality-teacher a{
        text-align: center;
        display:block;
    }  
    #c1,#c2,#c3,#c4,#c5,#c6{
        display: none;
    }
    
}