*, *::before, *::after {
    box-sizing: border-box;
 }

 em {
    font-style: normal;
 }
 
 a {
    text-decoration: none;
    color: inherit;
 } 

 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    /*position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: white;
 }
 
 .s-sidebar__trigger > i {
    display: inline-block;
    margin: 1.5em 0 0 .5em;
    color: #141414;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #151515;
    color: #FFF;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
 }
 
 .s-sidebar__nav-link em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background: #4d6276;
    color: #FFF;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 .s-sidebar-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
 }
 .bottom-buttons{
    position: absolute;
    bottom: 5px;
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 3.7em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    .s-sidebar__trigger {
        display: none;
     }
    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 15em;
    }
 }
 
 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 14em;
    }
    .s-sidebar__trigger {
        display: none
     }
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 15em;
    }
    
 }
 
/* --- Navbar --- */
#navbar{
width: 100%;
height: 60px;
box-shadow: 0 2px 2px -2px gray;
position: sticky;
position: -webkit-sticky;

}
#container {
   margin-top: 15px;
}
nav h1{
   font-family: 'Popins', sans-serif;
   font-weight: bold;
   font-size: 22px;
   display: inline-block;
   margin: 5px 0 0 40px;
}
#tocenter{
   float: right;
   display: inline-block;

}
nav #profile-pic-nav {
   height: 33px;
   width: 33px;
   border-radius: 50%;
   float: right;
   margin-right: 30px;
}
nav #search{
   display:inline-block;
   border: 2px solid #EAEBED;
   border-radius: 20px;
   padding: 0px 5px;
   margin:5px 20px 0 0 ;
   vertical-align:top;
}
nav #search input{
   width: 200px;
   height: 20px;
   border: none;
   font-family: Montserrat,sans-serif;
   font-size: 12px;
}
input[type="search"]:focus{
 
   outline: none;
   border: none !important;
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   box-shadow: none !important;
}


@media (max-width: 36em) {
   #navbar{
      height: 85px;
   }
   nav #profile-pic-nav {
      top: 15px;
      right: 0;
      position: fixed;
   }
   nav .icon-bell{
      top: 17px;
      right: 60px;
      position: fixed;
   }
   nav .icon-Message_notification{
      top: 15px;
      right: 100px;
      position: fixed;
   }
   nav #search{
      margin-top: 40px; 
    }
}




/* ----------------------- for the icons ------------------------------ */
  @font-face {
   font-family: 'icomoon';
   src:  url('/fonts/icomoon.eot?hrtpsr');
   src:  url('/fonts/icomoon.eot?hrtpsr#iefix') format('embedded-opentype'),
     url('/fonts/icomoon.ttf?hrtpsr') format('truetype'),
     url('/fonts/icomoon.woff?hrtpsr') format('woff'),
     url('/fonts/icomoon.svg?hrtpsr#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 
 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
 }
 
 .icon-bell:before {
   content: "\e918";
   font-size: 24px;
   margin-right: 20px;
 }


  
 .icon-Message_notification:before {
   content: "\e917";
   font-size: 27px;
   margin-right: 20px;
 }
 /* ---------------------------------------- */ 

 /* ----- LOGIN ----- */
 #contain{
   height: 350px;
   width: 100vw;
   position: relative;
 }
 #background_rounded{
   background-color:#4F4F4F;
   position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
 }
 .college-separator {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 1;
   width: 100%;
   max-width: 100%;
   max-height: 150px;
}

#background_rounded_image{
   display: block;
   top:5vh;
   left:5vw;
   position: absolute;
}