@layout('layouts.coach')

@section('content')
<div id="user-intro">
    <img src="/img/home_pages.png" alt="Welcome">
    <div class="welcome-user">
      <h3>Welcome {{currentUser.info.firstName}},</h3>
      <p>It’s a good day to learn something new,<br>
        Ready to get some work done</p>
    </div>
</div>
<div id="notifTest"></div>
@endsection